<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}" lang="uk">
<head>
    <title>JiraRush - підтвердження пошти</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<p th:text="'Привіт, ' + ${user.firstName} + '.'"></p>
<p th:text="#{index.mailText}">Щоб завершити налаштування облікового запису та почати користуватись JiraRush, підтвердіть, що ви правильно вказали вашу
    електронну пошту.</p>
<a th:href="${confirmationUrl}" th:text="#{index.mailButton}">Підтвердити пошту</a>
</body>
</html>